# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
*.log

# Virtualenv
venv/
ENV/
env/
.venv/
.ENV/
.env/

# IDEs
.idea/
*.iml

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbs.db
Thumbs.db

# Jupyter
.ipynb_checkpoints

# Test/coverage
.coverage
.tox/
htmlcov/
.cache/
.pytest_cache/

# Misc
*.swp
*.swo
*.bak
*.tmp
*.orig

# VSCode (pokud používáš)
.vscode/

# Profiling
.prof

# Soubory s hesly, konfigurace
*.secret
*.env.local
*.env.*
kohonen-log.txt
/app/ea/ea-config.json
/app/test/
/.claude/
/app/venv_tf/
/app/cnn/logs/*
/app/cnn/models/*
/app/lstm/logs/*
/app/lstm/models/*
/app/mlp/logs/*
/app/mlp/models/*
/data/datasets/BreastCancer/results/EA/*
/data/datasets/BreastCancer/results/SOM/*
/253_29346_142-pycharm-support-libs.zip
/requirements.lock.
/app/cnn/253_29346_142-pycharm-support-libs/
/data/cnn/
/data/datasets/BreastCancer/results/*
/data/datasets/PimaIndiansDiabetes/results/*
/data/datasets/IndianLiverPatientRecords/results/*
/data/datasets/LungCancerDataset/results/*
/app/lstm/data/*
/data/datasets/virtual_bc_1/results/*
/data/datasets/virtual_bc_2/results/*
/data/datasets/virtual_bc_3/results/*
/data/datasets/virtual_bc_4/results/*
/data/datasets/virtual_bc_5/results/*
/data/datasets/virtual_bc_6/results/*
/data/datasets/virtual_bc_7/results/*
/data/datasets/virtual_bc_8/results/*
/data/datasets/virtual_bc_9/results/*
/data/datasets/Iris/results/*
/data/results/
